<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title slot="start">
     Status calon mahasiswa
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/assets/plugins/fontawesome-free/css/all.min.css">
  <link rel="stylesheet" href="/assets/css/adminlte.min.css">
   <!-- Google Font: Source Sans Pro -->
   <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
  <!------ Include the above in your HEAD tag ---------->
  
  <section class="content">
      
        <br>
        <div class="card card-primary card-outline card-outline-tabs">
          <div class="card-header p-0 border-bottom-0">
            <ul class="nav nav-tabs" id="custom-tabs-four-tab" role="tablist">
              <li class="nav-item">
                <a class="nav-link " id="custom-tabs-four-home-tab" data-toggle="pill" href="#custom-tabs-four-home" role="tab" aria-controls="custom-tabs-four-home" aria-selected="true">Pengecekan Fee Akun</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" id="custom-tabs-four-profile-tab" data-toggle="pill" href="#custom-tabs-four-profile" role="tab" aria-controls="custom-tabs-four-profile" aria-selected="false">Data Calon Mahasiswa Mendaftar</a>
              </li>
             
            </ul>
          </div>
          <div class="card-body">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">Data CMT</h3>
  
                  <div class="card-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                      <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
  
                      <div class="input-group-append">
                        <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive p-0" style="height: 300px;">
                  <table class="table table-head-fixed text-nowrap">
                    <thead>
                      <tr>
                        <th>No</th>
                        <th>Reg ID</th>
                        <th>Password</th>
                        <th>Nama</th>
                        <th>Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1</td>
                        <td>RGG1111</td>
                        <td>0681r9i</td>
                        <td>Adistira Dyiputra</td>
                        <td><button class="btn btn-success">Menunggu Verifikasi Pendaftaran</button></td>
                      </tr>
                      <tr>
                        <td>2</td>
                        <td>RGG2222</td>
                        <td>0682r9i</td>
                        <td>Andrew</td>
                        <td><button class="btn btn-success">Menunggu Verifikasi Pendaftaran</button></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <!-- /.card-body -->
              </div>
              <b>NOTE :</b> CMT : CALON MAHASISWA TERDAFTAR
              <!-- /.card -->
            </div>
          </div>
          <!-- /.card -->
        </div>
  
    <!-- /.timeline -->

  </section>
</ion-content>
