ion-content {
    --background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1)),
      url("/assets/bc.jpg") no-repeat center center / cover;
  }
  .login-section {
    height: 74vh;
    width: 100%;
    max-width: 500px;
    background: #fff;
    right: 0;
    left: 0;
    bottom: 0;
    position: fixed;
    margin: auto;
    border-top-left-radius: 46px;
    border-top-right-radius: 46px;
  
    .heading {
      margin-top: 20px;
      h1 {
        font-size: 1.6rem;
        font-weight: bolder;
      }
      p {
        margin-top: 20px;
        font-size: 1rem;
        color: #7b7b7b;
      }
    }
    .login-form {
      .form-input {
        position: relative;
        margin-bottom: 10px;
        ion-item::part(native) {
          padding-left: 0;
        }
        ion-icon {
          position: absolute;
          top: 37px;
          z-index: 2;
          font-size: 1.2rem;
          left: 5px;
        }
        ion-label {
          position: absolute;
          margin-left: 35px;
          font-weight: bolder;
          font-size: 0.8rem;
          top: 3px;
        }
        ion-input {
          font-size: 0.9rem;
          --padding-start: 36px;
          --padding-top: 36px;
          color: #7b7b7b;
        }
      }
    }
    .action-buttons {
      text-align: center;
      .login-button {
        // --background: #01f933;
        width: 100%;
        font-weight: bold;
      }
    }
  }
  