<ion-content>
  <div class="login-section ion-padding">
    <div class="heading ion-padding">
      <img src="/assets/unbin.png" style="width: 30%; height: 30%;">
      <p>Log in to continue</p>
    </div>
    <div class="login-form ion-padding">
      <div class="form-input">
        <ion-icon name="person-outline"></ion-icon>
        <ion-item>
          <ion-label position="floating">NPM</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
      </div>
      <div class="form-input">
        <ion-icon name="mail-outline"></ion-icon>
        <ion-item>
          <ion-label position="floating">EMAIL</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
      </div>
    </div>
    <div class="action-buttons ion-padding">
      <ion-button routerLink="/tabs/tab1" size="large" class="login-button">Log in</ion-button>
    </div>
  </div>
</ion-content>
