<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="school"></ion-icon>
      <ion-label>Alur PMB</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="wallet"></ion-icon>
      <ion-label>Alur Fee</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="people"></ion-icon>
      <ion-label>Pendaftaran</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="status">
      <ion-icon name="checkmark-circle"></ion-icon>
      <ion-label>Status</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
