<ion-content>
  <div class="container ion-text-center">
    <img src="assets/unbin.png" >
    <p class="text-splash">
      <b>U  N  B  I  N</b>
    </p>
    <div class="spinner">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>
  </div>
</ion-content>
