<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title slot="start">
      Informasi Alur PMB UNBIN
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/assets/plugins/fontawesome-free/css/all.min.css">
  <link rel="stylesheet" href="/assets/css/adminlte.min.css">
   <!-- Google Font: Source Sans Pro -->
   <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
  <!------ Include the above in your HEAD tag ---------->
  
  <section class="content">
    <div class="container-fluid">
      
      <!-- Timelime example  -->
      <div class="row">
        <div class="col-md-12">
          <!-- The time line -->
          <div class="timeline">
            <!-- timeline time label -->
            <br>
            <div class="time-label">
              <span class="bg-green">Pendaftaran</span>
            </div>
            <!-- /.timeline-label -->
            <!-- timeline item -->
            <div>
              <!-- <i class="fas fa-envelope bg-blue"></i> -->
              <i class="fas fa-user bg-info"></i>
              <div class="timeline-item">
                <span class="time"></span>
                <h3 class="timeline-header"><a href="#">Kegiatan Pendaftaran</a> dapat dilakukan mulai <b>tanggal 2 januari s/d 31 agustus 2022</b></h3>

                <div class="timeline-body">
                  Biaya Pendaftaran Sebesar Rp.300.000,00
                </div>
              </div>
            </div>
            <!-- END timeline item -->
            <!-- timeline time label -->
            <div class="time-label">
              <span class="bg-green">Mengikuti Tes Potensi Akademik dan Wawancara</span>
            </div>
            <!-- /.timeline-label -->
            <!-- timeline item -->
            <div>
              <!-- <i class="fas fa-envelope bg-blue"></i> -->
              <i class="fas fa-user bg-info"></i>
              <div class="timeline-item">
                <span class="time"></span>
                <h3 class="timeline-header">
                  <a href="#">Test Potensi Akademik (TPA)</a> 
                  Kegiatan ini dilakukan untuk mengetahui kompetensi pengetahuan umum dimana ada 3jenis pertanyaan
                  diantaranya adalah pertanyaan <b>logika,matematika dan umum</b> , <a href="#">TPA</a> dilakukan menggunakan
                  berbasis komputer yang diselenggarakan offline/online. <a href="#">Wawancara</a> kegiatan ini dilakukan
                  untuk mengethaui minat dan bakat calon mahasiswa.
                </h3>
              </div>
            </div>
            <!-- END timeline item -->
               <!-- timeline time label -->
               <br>
               <div class="time-label">
                 <span class="bg-green">Pengumuman Hasil TPA dan Melakukan Biaya Daftar Ulang</span>
               </div>
               <!-- /.timeline-label -->
            <!-- timeline item -->
            <div>
              <!-- <i class="fas fa-envelope bg-blue"></i> -->
              <i class="fas fa-user bg-info"></i>
              <div class="timeline-item">
                <span class="time"></span>
                <h3 class="timeline-header"><a href="#">Kegiatan daftar ulang</a> Bisa dilakukan secara <b>Online</b> atau <b>Offline.</b></h3>

                <div class="timeline-body">
                  Setelah ada pengumuman pengenai lolos atau tidaknya terhadap nilai TPA, maka calon mahasiswa yang <b>dinyatakan lolos</b> 
                  bisa langsung melakukan kegiatan <b>daftar ulang.</b> 
                </div>
              </div>
            </div>
            <!-- END timeline item -->
               <!-- timeline time label -->
               <br>
               <div class="time-label">
                 <span class="bg-red">Melakukan Kegiatan Pra-Studi</span>
               </div>
               <!-- /.timeline-label -->
            <!-- timeline item -->
            <div>
              <!-- <i class="fas fa-envelope bg-blue"></i> -->
              <i class="fas fa-user bg-info"></i>
              <div class="timeline-item">
                <span class="time"></span>
                <h3 class="timeline-header"><a href="#">Pelaksanaan kegiatan Pra-Studi</a> Dilaksanakan di 1 lokasi.</h3>

                <div class="timeline-body">
                  Fakultas Ekonomi dan Komputer dilaksanakan di <b>Gedung Kampus Pajajaran.</b> 
                </div>
              </div>
            </div>
            <!-- END timeline item -->
            <div>
              <i class="fas fa-clock bg-white-smoke"></i>
            </div>
          </div>
        </div>
        <!-- /.col -->
      </div>
    </div>
    <!-- /.timeline -->

  </section>
</ion-content>
