<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title slot="start">
      Pendaftaran calon mahasiswa
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/assets/plugins/fontawesome-free/css/all.min.css">
  <link rel="stylesheet" href="/assets/css/adminlte.min.css">
   <!-- Google Font: Source Sans Pro -->
   <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
  <!------ Include the above in your HEAD tag ---------->
  
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-sm-6">
          <br>
          <div class="card card-primary card-outline card-tabs">
            <div class="card-header p-0 pt-1 border-bottom-0">
              <ul class="nav nav-tabs" id="custom-tabs-three-tab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="custom-tabs-three-home-tab" data-toggle="pill" href="#" role="tab" aria-controls="custom-tabs-three-home" aria-selected="true">Form penginputan pendaftaran</a>
                </li>
              </ul>
            </div>
            <div class="card-body">
            <form class="form-horizontal">
              <div class="tab-content" id="custom-tabs-three-tabContent">
                <div class="form-group row">
                  <label for="namalengkap" class="col-sm-2 col-form-label">Nama Lengkap</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="namalengkap" placeholder="Nama Lengkap">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="jk" class="col-sm-2 col-form-label">Jenis Kelamin</label>
                  <div class="col-sm-10">
                      <select class="form-control">
                        <option>Pilih Jenis Kelamin</option>
                        <option>Laki-Laki</option>
                        <option>Perempuan</option>
                      </select>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="nohp" class="col-sm-2 col-form-label">NO. Handphone</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="nohp" placeholder="No. Handphone">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="email" class="col-sm-2 col-form-label">Email</label>
                  <div class="col-sm-10">
                    <input type="email" class="form-control" id="email" placeholder="Alamat Email">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="asalsekolah" class="col-sm-2 col-form-label">Asal Sekolah</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="asalsekolah" placeholder="Asal Sekolah">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="jk" class="col-sm-2 col-form-label">Program Studi</label>
                  <div class="col-sm-10">
                      <select class="form-control">
                        <option>Teknik Informatika (S1)</option>
                        <option>Sistem Informasi (S1)</option>
                        <option>Teknologi Informasi (S1)</option>
                      </select>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="jj" class="col-sm-2 col-form-label">Jenjang</label>
                  <div class="col-sm-10">
                      <select class="form-control">
                        <option>Sarjana (S1)</option>
                        <option>Diploma (D3)</option>
                      </select>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="kls" class="col-sm-2 col-form-label">Kelas</label>
                  <div class="col-sm-10">
                      <select class="form-control">
                        <option>Kelas A</option>
                        <option>Kelas B</option>
                        <option>Kelas C</option>
                        <option>Kelas D</option>
                      </select>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inf" class="col-sm-2 col-form-label">Info Kampus</label>
                  <div class="col-sm-10">
                      <select class="form-control">
                        <option>Mahasiswa UNBIN</option>
                        <option>Kelas B</option>
                      </select>
                  </div>
                </div>
                <button type="submit" class="btn btn-danger">Daftar</button>
              </div>
            </form>
            </div>
            <!-- /.card -->
          </div>
        </div>
      </div>
    </div>
    <!-- /.timeline -->

  </section>
</ion-content>
